#Content{
    width: 50%;
}
#nim{
    margin-top: 10px;
    width: 200px;
    padding-bottom: 5px;
}
#Horizontal{
    margin-top: 20px;
}
#nama{
    margin-top: 5px;
    width: 200px;
    padding-bottom: 5px;
}