body{
    margin: 0;
    background: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container{
    width: 97%;
    margin: 0 auto;
}

header{
    background: skyblue;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: left;
}

nav ul{
    margin: 10;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 40px;
    padding-top: 10px;
    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: black;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}